
#display{
    margin-top: 100px;
}
.access{
    
    margin: 100px;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    
}
input{
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    
}
#submit{
    background-color: rgb(105, 196, 105);
    border: none;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font:bolder;
    font-family: sans-serif;
    cursor: pointer;
}
.name{
    cursor: pointer;
    font-size: 20px;
    
}
footer{
    margin-top: 100px;
    text-align: center;
    background-color: rgb(46, 173, 46);
    color: white;
}
.result{
    display: flex;
    background-color:#273746;
    border: 10px solid white;
    width: 20%;
    padding: 5px;
    border-radius: 50px;
    color: white;
    padding-left: 30px;
    
}
#inputs{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 500px){
    
    .access{
        display: flex;
       
        flex-direction: column;
        margin-top: -50px;
    }
    input{
        display: flex;
        flex-direction: column;

    }
    #submit{
        margin: 20px;
    }

}